
 h1{
    color:blue !important;
}
 @media only screen and (min-width:991px )and (max-width:4000px){
    .active{background:none !important;
    }
} 

.upper{
    text-transform: uppercase !important;

}
